<!doctype html>
<html>
  <head>
    <title>Socket.IO Demo</title>
  </head>
  <body>
    <h1>Socket.IO Demo</h1>
    <h2 id="potVoltage"></h2>
    <h2 id="xTilt"></h2>
    <h2 id="yTilt"></h2>
    <h2 id="zTilt"></h2>
    <h3>Howdy </h3>
    <!-- Socket io Module -->
    
    

  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
<script>
  // Init socketio client
  socket = io();
  // Connect to where its Serving
  socket.connect('http://127.0.0.1:5000');

  // A sort of hand shake to tell the server to send Data 
  socket.on('connect',function(){
  socket.send('a');
  })

  // Receiving data and asking for data back 
  socket.on('message',function(msg){
  // Receiving and displaying
  console.log(msg);
  document.getElementById("potVoltage").innerHTML = "Pot Voltage: " + msg[0]
  document.getElementById("xTilt").innerHTML = "X: " + msg[1]
  document.getElementById("yTilt").innerHTML = "Y: " + msg[2]
  document.getElementById("zTilt").innerHTML = "Z: " + msg[3]
  // Send out to Receive more
  socket.send('a');
  })
</script>